.about-container {
  padding: 50px;
}

.about-info-image {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.about-text > h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.about-gif > img {
  margin-top: 40px;
}

.first-about-span,
.third-about-span {
  background: #ec521e;
  padding: 5px;
  color: #fff;
  border-radius: 20px;
}

.second-about-span {
  background: #f2c500;
  padding: 5px;
  color: #fff;
  border-radius: 20px;
}

.fourth-about-span {
  background: #4e4de6;
  padding: 5px;
  color: #fff;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .about-gif > img {
    width: 360px;
    margin-top: 15px;
  }
  .about-info-image {
    gap: 10px;
  }
  .about-text > h5 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .about-gif > img {
    width: 700px;
  }
  .about-text > h5 {
    width: 550px;
  }
}
