.cta-container {
  padding: 30px;
}

.cta-text-container {
  display: flex;
  justify-content: center;
}

.cta-text {
  text-align: center;
  position: relative;
}

.first-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.second-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ec521e;
  margin-top: -30px;
}

.icon-left {
  width: 50px;
  position: absolute;
  left: -50px;
}

.icon-right {
  width: 50px;
  position: absolute;
  right: -50px;
  bottom: 0px;
}

.cta-details-container {
  display: flex;
  justify-content: center;
}

.cta-details {
  width: 60%;
  margin-top: 60px;
}

.first-img {
  background: #ec521e;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.second-img {
  background: #f5ce43;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.third-img {
  background: #4e4de6;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.fourth-img {
  background: #ec521e;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.fifth-img {
  background: #f5ce43;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.sixth-img {
  background: #4e4de6;
  padding: 2px 13px 0px 13px;
  border-radius: 30px;
}

.seventh-img {
  background: #ec521e;
  padding: 2px 13px 0px 13px;
  border-radius: 25px;
}

.first-img img,
.second-img img,
.third-img img,
.fourth-img img,
.fifth-img img,
.sixth-img img,
.seventh-img img {
  width: 25px;
}

.cta-details {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 40px;
}

@media (max-width: 600px) {
  .second-text {
    font-size: 30px;
  }
  .first-text {
    font-size: 30px;
  }
  .cta-details {
    width: 100%;
  }
}
