.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
}

.logo {
  width: 110px;
  margin-left: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 15%;
}

.nav-item {
  list-style: none;
  margin: 0px 20px;
  padding: 0px 30px;
  border-right: 2px solid #ece7e7;
}

.mobile-nav-item {
  list-style: none;
  margin-top: 30px;
}

.nav-item:nth-last-child(2) {
  border: none;
}

.nav-links {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  padding: 7px 0px;
}

.dropdown-menu {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  border: 1px solid #ece7e7;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

.language-choose {
  width: 30px;
  border-right: 2px solid #ece7e7;
  padding: 0px 10px 0px 0px;
}

.dropdown-menu:hover {
  cursor: pointer;
}

.mobile-toggler {
  background: #ff0200;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  display: none;
}

.mobile-toggler:hover {
  cursor: pointer;
}

.toggler-icon {
  display: block;
  margin: 10px auto;
  font-size: 18px;
}

@media (max-width: 1124px) {
  .nav-list {
    display: none;
  }
  .mobile-toggler {
    display: flex;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 80px;
  }
}
