.non-zero-container {
  padding: 20px 60px 0px 0px;
}

.non-zero-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.non-zero-text > h5 {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.non-zero-gif > img {
  width: 400px;
}

@media (min-width: 992px) {
  .non-zero-gif > img {
    width: 600px;
  }
}

.non-zero-text > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
}

.non-zero-text {
  position: relative;
}

.eclipse-image {
  position: absolute;
  left: 0;
  top: -180px;
}

@media (max-width: 600px) {
  .eclipse-image {
    width: 150px;
  }
  .non-zero-text > h3 {
    font-size: 23px;
  }
  .non-zero-gif > img {
    width: 300px;
  }
  .non-zero-text > h5 {
    line-height: 20px;
    font-size: 17px;
  }
}
