.footer-container {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  margin-top: 130px;
  background: #000;
  color: #fff;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-subscribe > h5 {
  color: #fff;
}

.footer-text img {
  width: 120px;
}
