.footer-container {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  margin-top: 130px;
  background: #000;
  color: #fff;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-subscribe > h5 {
  color: #fff;
}

.footer-text img {
  width: 120px;
}

.footer-input {
  display: flex;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

.footer-email {
  height: 40px;
  width: 230px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.subscribe-button {
  height: 40px;
  width: 130px;
}
